/*  ----------------- fichero CSS para las slides verdes xaringan  -------------- */ 


/* definiendo estilos de los párrafos */ 


p {text-align: justify;      /* justificar el texto del body */ 
    line-height: 1.5; }     /* anchura entre las lineas 1.0 is the default in Firefox. 2.0 provides a large space */  

ul {text-align: justify;  
    line-height: 1.5; }


h5 { color: purple;  font-weight: bold; text-align: center; 
  font-size: 20px;
  margin-top: 30px;   
  margin-bottom: 20px; }  



/* Guía para los colores: https://htmlcolorcodes.com/es/nombres-de-los-colores/  */

 

/* para hacer lineas de colores <hr class="linea-orange"> */

.linea-black {
  border-top: 1px solid black;
}

.linea-blue {
  border-top: 2.4px dashed darkblue;
}

.linea-red {
  border-top: 2px solid red;
}

.linea-orange {
  border-top: 2px solid #EB811B;
}




/* para hacer cajas de texto de colorines*/

.caja-darkkhaki { background-color:#bdb76b; border-radius: 4px; padding: 13px;}

.caja-gris-gainboro { background-color:#DCDCDC; border-radius: 4px; padding: 13px; 
                 border: solid 8px black; }

.caja-linea-verde {  color: #004346;
  background-color: #fff;
  border-top: 4pt solid #09bc8a;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  padding: 23px 10px 21px 10px;
}


html, body, strong, b {
font-family: inherit;
font-style: inherit;
}